<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>

<div class="container" style="direction: rtl;">



    <div class="panel panel-info">
        <div class="panel-heading" style="text-align: center;"><b>הזמנתך נרשמה במערכת</b></div>
        <div class="panel-body">
            <h3 style="text-align: center;">
                <span>
                    מספר הזמנה
                    {{inviteNumber}}
                </span>
            </h3>
            <div class="row">
                <div class="col-sm-6" style="text-align: right;">{{person}}</div>
                <div class="col-sm-6" style="text-align: left;" >עבור:</div>
            </div>

            <div class="row">
                <div class="col-sm-6" style="text-align: right; direction: ltr;">{{date}}</div>
                <div class="col-sm-6" style="text-align: left;" >תאריך:</div>
            </div>

            <div class="row">
                <div class="col-sm-6" style="text-align: right;">{{recNumber}}</div>
                <div class="col-sm-6" style="text-align: left;" >מספר אישור חברת אשראי:</div>
            </div>

            

            <div class="row">
                <div class="col-sm-6" style="text-align: right;">{{price}} ש"ח</div>
                <div class="col-sm-6" style="text-align: left;" >מחיר:</div>
            </div>



        </div>
    </div>
</div>