
<div class="container">
    <div class="panel panel-info">
        <div class="panel-heading text-center"><b>הזמנתך נרשמה במערכת</b></div>
        <div class="panel-body text-center">
            <p>
                הזמנתך נרשמה במערכת ותתעדכן בדקות הקרובות <br />
                פרטי ההזמנה נמצאים בעמוד הזמנות קודמות
            </p>
                    
            <p>מספר אישור חברת אשראי {{recNumber}}</p>            
            <p>בעוד מספר שניות תועבר לעמוד הבית</p>
        </div>
    </div>
</div>