<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>


<div id="registerForm" class="container" style="direction: rtl;">
    <div class="panel panel-info">
        <div class="panel-heading" style="text-align: center;"><b>יצירת קשר</b></div>
        <div class="panel-body">

            <form action="/action_page.php">
                <div class="row">
                    <div class="col-sm-6" style="text-align: right">
                        <input type="text"  name="fullname">
                    </div>

                    <div class="col-sm-6" style="text-align: left;">
                        <label>שם מלא:</label>
                    </div>

                </div>

                <div class="row">
                    <div class="col-sm-6" style=" text-align: right; ">
                        <input type="email"  name="email" />
                    </div>
                    <div class="col-sm-6" style="text-align: left;">
                        <label>דוא"ל:</label>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6" style=" text-align: right; ">
                        <input type="tel"  pattern="^[0][5][0|2|3|7|4|5|9]{1}[-]{0,1}[0-9]{7}$"
                            name="tel" />
                    </div>
                    <div class="col-sm-6" style="text-align: left;">
                        <label>טלפון:</label>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-sm-12" style="text-align: center;">
                        <label>תוכן הודעה:</label>
                    </div>
                </div>


                <div class="form-group">                    
                    <textarea required class="form-control" rows="5"></textarea>
                </div>

                <div class="row">
                    <div class="col-sm-6" style="text-align:right;">
                        <button type="reset" class="btn btn-primary">נקה</button>
                    </div>
                    <div class="col-sm-6" style="text-align:left">

                        <button type="submit" class="btn btn-primary">שלח</button>
                    </div>
                </div>
                
            </form>
        </div>
    </div>

</div>