<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>

<div class="container" style="direction: rtl;">
    <div class="panel panel-info">
        <div class="panel-heading" style="text-align: center;"><b>טופס התחברות</b></div>
        <div class="panel-body">
            <form>
                <div class="row">
                    <div class="col-sm-6" style="text-align: right">
                        <input #inEmail style="direction: ltr;" type="email" name="mail" />
                    </div>

                    <div class="col-sm-6 formLabelTitle" style="text-align: left;">
                        <label>דוא"ל:</label>
                    </div>

                </div>

                <div class="row">
                    <div class="col-sm-6" style="text-align: right">
                        <input #inPassword style="direction: ltr;" type="password" name="pwd" />
                    </div>

                    <div class="col-sm-6 formLabelTitle" style="text-align: left;">
                        <label>סיסמה:</label>
                    </div>

                </div>
                <br />
                <div class="row">
                    <div class="col-sm-6" style="text-align:right;">
                        <button type="reset" class="btn btn-primary">נקה</button>
                    </div>
                    <div class="col-sm-6" style="text-align:left">

                        <button type="button" (click)="verify(inEmail.value,inPassword.value)"
                            class="btn btn-primary">התחבר</button>
                    </div>
                </div>
                {{res}}
            </form>
        </div>
    </div>
</div>