<div class="row">
    <div class="col-md-7 col-center-block">
        <div class="panel panel-info">
            <div class="panel-heading text-center">
                <h3>טופס התחברות</h3>
            </div>
            <div class="container" style="margin: auto; float: none;">
                <div class="panel-body text-center">

                    <!-- <form>

                        <div class="input-group" style="width: 50%; float: none; margin: auto;">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>

                            <input (keyup)="checkLength(inEmail.value)" #inEmail style="direction: ltr;" class="form-control text-center" type="email"
                                name="mail" placeholder="שם משתמש" required />

                        </div>

                        <div class="input-group" style="width: 50%; float: none; margin: auto;">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>

                            <input (keyup)="checkLength(inPassword.value)" #inPassword style="direction: ltr;" class="form-control text-center" type="password"
                                name="pwd" placeholder="סיסמה" required/>
                        </div>
                        
                        <br />

                        <button type="submit" (click)="verify(inEmail.value,inPassword.value)" *ngIf="checkLength(inEmail.value) && checkLength(inPassword.value) " class="btn btn-primary">
                            <b>התחבר</b>&nbsp;&nbsp;
                            <i class="glyphicon glyphicon-ok-circle"></i>
                         </button>&nbsp;&nbsp;

                         <button type="reset"  *ngIf="checkLength(inEmail.value) || checkLength(inPassword.value) " class="btn btn-danger">
                            <b>נקה</b>&nbsp;&nbsp;
                            <i class="glyphicon glyphicon-trash"></i>
                        </button>
                    </form> -->
                    <form [formGroup]="myForm" (ngSubmit)="verify(inEmail.value,inPassword.value)">

                        <div class="input-group" style="width: 50%; float: none; margin: auto;">
                            <span class="input-group-addon"><b>@</b></span>
                            <input #inEmail class="form-control" formControlName="mail" placeholder="דוא''ל">
                        </div>

                        <!-- alerts required field-->
                        <div *ngIf="myForm.get('mail').hasError('required') && (myForm.get('mail').dirty || myForm.get('mail').touched)"
                            class="myalert">
                            נא להכניס כתובת דוא''ל
                        </div>

                        <div *ngIf="myForm.get('mail').hasError('pattern') && (myForm.get('mail').dirty || myForm.get('mail').touched)"
                            class="myalert">
                            נא להכניס כתובת דוא''ל תקינה
                        </div>




                        <div class="input-group" style="width: 50%; float: none; margin: auto;">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                            <input #inPassword class="form-control" formControlName="password" type="password"
                                placeholder="סיסמה">
                        </div>

                        <!-- alerts required field-->
                        <div *ngIf="myForm.get('password').hasError('required') && (myForm.get('password').dirty || myForm.get('password').touched)"
                            class="myalert">
                            נא להכניס סיסמה
                        </div>



                        <button type="submit" class="btn btn-primary" [disabled]="myForm.invalid">
                            <b>התחבר</b>&nbsp;&nbsp;
                            <i class=" 	glyphicon glyphicon-inbox"></i>
                        </button>&nbsp;&nbsp;

                        <button type="reset" class="btn btn-danger">
                            <b>נקה</b>&nbsp;&nbsp;
                            <i class="glyphicon glyphicon-trash"></i>
                        </button>

                    </form>

                </div>
            </div>
        </div>
    </div>
</div>