<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<div class="container" style="direction: rtl;">



    <div class="panel panel-info">
        <div class="panel-heading" style="text-align: center;"><b>עמוד תשלום</b></div>
        <div class="panel-body">

            <form action="/recipt">

                <div class="row">
                    <div class="col-sm-6" id="idPrice" style=" text-align: right; ">
                        <input type="text" value="{{price}}" disabled />
                    </div>
                    <div class="col-sm-6" style="text-align: left;">
                        <label for="price">מחיר:</label>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6" style=" text-align: right; ">
                        <input #inCard type="text" pattern="[0-9]{16}" 
                        oninvalid="this.setCustomValidity('נדרש 16 ספרות')" required />
                    </div>
                    <div class="col-sm-6 formLabelTitle " style="text-align: left;">
                        <label for="card">מספר כרטיס אשראי:</label>
                    </div>
                </div>

                <br />
                <div class="row">
                    <div class="col-sm-6 formLabelTitle" style=" text-align: right; ">
                        <label for="year">שנה:</label>
                        <select>
                            <option *ngFor="let y of years">{{y}}</option>
                        </select>
                    </div>
                    <div class="col-sm-6 formLabelTitle" style="text-align: left;">
                        <label for="month">חודש:</label>
                        <input #inMonth type="number" min="0" max="12" value="1" style="width: 50px;" />
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-sm-6" style="text-align:right;">
                        <button (click)="inCard.value='';inMonth.value=1; " class="btn btn-primary">נקה</button>
                    </div>
                    <div class="col-sm-6" style="text-align:left">
                        <button class="btn btn-info" type="submit">שלם</button>
                    </div>
                </div>


            </form>
        </div>
    </div>