html{
    min-height: 100%;
    position: relative;
}
body{
    direction: rtl;
    font-size: 15px;
    background-image: url("./assets/images/vegetable-basket-349667.jpg");
    background-size: 100%;
}
.col-center-block {
    float: none;
    margin: 0 auto;
}

