<div class="row">
    <div class="col-md-7 col-center-block">
        <div class="panel panel-info">
            <div class="panel-heading text-center">
                <h3>טופס הרשמה</h3>
            </div>
            <div class="container" style="margin: auto; float: none;">
                <div class="panel-body text-center">
                    <!-- <form>
                        <div class="input-group" style="width: 50%; float: none; margin: auto;">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        
                            <input oninvalid="setCustomValidity('יש להכניס אותיות בלבד')"
                                oninput="setCustomValidity('')" #inFullName type="text" name="fullname"
                                pattern="^[a-z\u0590-\u05fe]+$" title="יש להכניס רק אותיות" required style="direction:ltr;" placeholder="שם מלא"
                                class="form-control text-center" />
                        </div>

                        <div class="input-group" style="width: 50%; float: none; margin: auto;">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>                        
                            <input oninvalid="setCustomValidity('שדה חובה')" oninput="setCustomValidity('')" #inAdress type="text" name="address" class="form-control text-center" 
                            style="direction:ltr;" placeholder="כתובת"
                            required />
                        </div>

                        <div class="input-group" style="width: 50%; float: none; margin: auto;">
                            <span class="input-group-addon"><b>@</b></span>                        
                            <input #inMail type="email" name="email" oninvalid="setCustomValidity('מייל לא תקין')" oninput="setCustomValidity('')"  class="form-control text-center" 
                            style="direction:ltr;" placeholder="דוא''ל" required />
                        </div>

                        <div class="input-group" style="width: 50%; float: none; margin: auto;">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-phone"></i></span>                                                    
                            <input #inPhone type="tel" pattern="^[0][5][0|2|3|7|4|5|9]{1}[-]{0,1}[0-9]{7}$" name="phone" oninvalid="setCustomValidity('שדה חובה. נא להכניס מספר תקין')" oninput="setCustomValidity('')" class="form-control text-center" 
                            style="direction:ltr;" placeholder="טלפון נייד" required />
                        </div>


                        <div class="input-group" style="width: 50%; float: none; margin: auto;">
                            <span class="input-group-addon" style=""><i class="glyphicon glyphicon-lock"></i></span>                                                    
                            <input #inPassword id="password" type="password" name="pwd" class="form-control text-center" 
                            style="direction:ltr;" placeholder="סיסמה" required />
                        </div><br />
                        
                        <button type="button" class="btn btn-primary" (click)="register(inFullName.value,inAdress.value,inMail.value,inPhone.value,inPassword.value)">
                            <b>הירשם</b>&nbsp;&nbsp;
                            <i class=" 	glyphicon glyphicon-inbox"></i>
                         </button>&nbsp;&nbsp;
                         <button type="reset" class="btn btn-danger">
                             <b>נקה</b>&nbsp;&nbsp;
                             <i class="glyphicon glyphicon-trash"></i>
                         </button>

                    </form> -->


                    <form [formGroup]="myForm"
                        (ngSubmit)="register(inFullName.value,inAdress.value,inMail.value,inPhone.value,inPassword.value)">
                        <div class="input-group" style="width: 50%; float: none; margin: auto;">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input #inFullName class="form-control" formControlName="name" placeholder="שם מלא">
                        </div>

                        <!-- alerts required field-->
                        <div *ngIf="myForm.get('name').hasError('required') && (myForm.get('name').dirty || myForm.get('name').touched)"
                            class="myalert">
                            נא להכניס שם מלא
                        </div>

                        <div *ngIf="myForm.get('name').hasError('pattern') && (myForm.get('name').dirty || myForm.get('name').touched)"
                            class="myalert">
                            נא להכניס אותיות בלבד
                        </div>



                        <div class="input-group" style="width: 50%; float: none; margin: auto;">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                            <input #inAdress class="form-control" formControlName="address" placeholder="כתובת">
                        </div>


                        <!-- alerts required field-->
                        <div *ngIf="myForm.get('address').hasError('required') && (myForm.get('address').dirty || myForm.get('address').touched)"
                            class="myalert">
                            נא להכניס כתובת
                        </div>


                        <div class="input-group" style="width: 50%; float: none; margin: auto;">
                            <span class="input-group-addon"><b>@</b></span>
                            <input #inMail class="form-control" formControlName="mail" placeholder="דוא''ל">
                        </div>

                        <!-- alerts required field-->
                        <div *ngIf="myForm.get('mail').hasError('required') && (myForm.get('mail').dirty || myForm.get('mail').touched)"
                            class="myalert">
                            נא להכניס כתובת דוא''ל
                        </div>

                        <div *ngIf="myForm.get('mail').hasError('pattern') && (myForm.get('mail').dirty || myForm.get('mail').touched)"
                            class="myalert">
                            נא להכניס כתובת דוא''ל תקינה
                        </div>


                        <div class="input-group" style="width: 50%; float: none; margin: auto;">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-phone"></i></span>
                            <input #inPhone class="form-control" formControlName="phone" maxlength="11"
                                placeholder="טלפון נייד">
                        </div>


                        <!-- alerts required field-->
                        <div *ngIf="myForm.get('phone').hasError('required') && (myForm.get('phone').dirty || myForm.get('phone').touched)"
                            class="myalert">
                            נא להכניס טלפון נייד
                        </div>

                        <div *ngIf="myForm.get('phone').hasError('pattern') && (myForm.get('phone').dirty || myForm.get('phone').touched)"
                            class="myalert">
                            נא להכניס מספר תקין
                        </div>



                        <div class="input-group" style="width: 50%; float: none; margin: auto;">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                            <input #inPassword class="form-control" formControlName="password" type="password"
                                placeholder="סיסמה">
                        </div>

                        <!-- alerts required field-->
                        <div *ngIf="myForm.get('password').hasError('required') && (myForm.get('password').dirty || myForm.get('password').touched)"
                            class="myalert">
                            נא להכניס סיסמה
                        </div>

                        <button type="submit" class="btn btn-primary" [disabled]="myForm.invalid">
                            <b>הירשם</b>&nbsp;&nbsp;
                            <i class=" 	glyphicon glyphicon-inbox"></i>
                        </button>&nbsp;&nbsp;

                        <button type="reset" class="btn btn-danger">
                            <b>נקה</b>&nbsp;&nbsp;
                            <i class="glyphicon glyphicon-trash"></i>
                        </button>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>