<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<div class="container" style="direction: rtl;">
    <div class="panel panel-info">
        <div class="panel-heading" style="text-align: center;"><b>הרשמה</b>
        </div>
        <div class="panel-body">
            <form (submit)="register(inFullName.value,inAdress.value,inMail.value,inPhone.value,inPassword.value)">
                <div class="row">
                    <div class="col-sm-6" style="text-align: right">
                        <input #inFullName type="text" name="fullname" required />
                    </div>

                    <div class="col-sm-6 formLabelTitle" style="text-align: left;">
                        <label>שם מלא:</label>
                    </div>

                </div>

                <div class="row">
                    <div class="col-sm-6" style="text-align: right">
                        <input #inAdress type="text" name="address" required />
                    </div>
                    <div class="col-sm-6 formLabelTitle" style="text-align: left;">
                        <label>כתובת:</label>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6" style="text-align: right">
                        <input #inMail type="email" name="email" required />
                    </div>
                    <div class="col-sm-6 formLabelTitle" style="text-align: left;">
                        <label>דוא"ל:</label>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6" style="text-align: right">
                        <input #inPhone type="tel" pattern="^[0][5][0|2|3|7|4|5|9]{1}[-]{0,1}[0-9]{7}$" name="phone"
                            required />
                    </div>
                    <div class="col-sm-6 formLabelTitle" style="text-align: left;">
                        <label>טלפון נייד:</label>
                    </div>
                </div>


                <div class="row">
                    <div class="col-sm-6" style="text-align: right">
                        <input #inPassword type="text" name="pwd" required />
                    </div>
                    <div class="col-sm-6 formLabelTitle" style="text-align: left;">
                        <label>סיסמה:</label>                        
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-sm-6" style="textregister(inFullName.value,inAdress.value,inMail.value,inPhone.value,inPassword.value)-align:right;">
                        <button type="reset" class="btn btn-primary">נקה</button>
                    </div>
                    <div class="col-sm-6" style="text-align:left">
                        <button class="btn btn-primary" type="submit">הירשם</button>                                                                        
                        
                    </div>
                </div>

            </form>

        </div>
    </div>
</div>