<div class="row">
    <div class="col-md-7 col-center-block">
        <div class="panel panel-info">
            <div class="panel-heading text-center">
                <h3>פרטי משתמש</h3>
            </div>
            <div class="container" style="margin: auto; float: none;">
                <div class="panel-body text-center">
                    <form>
                        <div class="input-group" style="width: 50%; float: none; margin: auto;">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input #inName type="text" (keyup)="checkChangeName(inName.value)" placeholder="שם מלא"
                                class="form-control text-center" [value]="name" />
                        </div>

                        <div class="input-group" style="width: 50%; float: none; margin: auto;">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                            <input #inAddr type="text" (keyup)="checkChangeAddress(inAddr.value)" [value]="address" placeholder="כתובת" class="form-control text-center" />
                        </div>

                        <div class="input-group" style="width: 50%; float: none; margin: auto;">
                            <span class="input-group-addon"><b>@</b></span>                            
                            <input #inEmail type="text" (keyup)="checkChangeEmail(inEmail.value)" [value]="email" class="form-control text-center" disabled />                        
                        </div>

                        <div class="input-group" style="width: 50%; float: none; margin: auto;">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-phone"></i></span>                            
                            <input #inPhone type="text" (keyup)="checkChangePhone(inPhone.value)" [value]="phone"
                            pattern="^[0][5][0|2|3|7|4|5|9]{1}[-]{0,1}[0-9]{7}$" placeholder="טלפון נייד" class="form-control text-center" />              
                        </div>
                        <br />
                        <div *ngIf="!display">
                            <button type="submit" class="btn btn-primary">
                                <b>שמור שינויים</b>&nbsp;&nbsp;
                                <i class="glyphicon glyphicon-floppy-disk"></i>
                             </button>&nbsp;&nbsp;                             	
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>