<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>


<div class="container" style="direction: rtl;">
    <div class="panel panel-info">
        <div class="panel-heading" style="text-align: center;"><b>עריכת פרטים</b></div>
        <div class="panel-body">

            <form action="#">

                <div class="row">
                    <div class="col-sm-6" style="text-align: right">
                        <input #inName type="text" (keyup)="checkChangeName(inName.value)" [value]="name" />
                    </div>

                    <div class="col-sm-6" style="text-align: left;">
                        <label for="Name">שם פרטי:</label>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6" style="text-align: right">
                        <input #inAddr type="text" (keyup)="checkChangeAddress(inAddr.value)" [value]="address" />
                    </div>

                    <div class="col-sm-6" style="text-align: left;">
                        <label for="address">כתובת</label>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6" style="text-align: right">
                        <input #inEmail type="text" (keyup)="checkChangeEmail(inEmail.value)" [value]="email" />
                    </div>

                    <div class="col-sm-6" style="text-align: left;">
                        <label for="e-mail">כתובת דוא"ל:</label>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6" style="text-align: right">
                        <input #inPhone type="text" (keyup)="checkChangePhone(inPhone.value)" [value]="phone"
                            pattern="^[0][5][0|2|3|7|4|5|9]{1}[-]{0,1}[0-9]{7}$" />
                    </div>

                    <div class="col-sm-6" style="text-align: left;">
                        <label for="phone">מספר פלאפון</label>
                    </div>
                </div>
                <br />
                <div class="col">

                    <div class="col-sm-12" style="text-align: center;">
                        <div *ngIf="!display">
                            <button type="submit" class="btn btn-primary">שמור שינויים</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>