
<style>

</style>

<div class="row">
    <div class="col-md-7 col-center-block">
        <div class="panel panel-info">
            <div class="panel-heading text-center">
                <h3>אני רוצה לחפש</h3>
            </div>
            <div class="panel-body">
                <form>
                    <div class="form-group">
                        <input #itemSearch type="text" class="form-control" />
                    </div>

                    <div class="text-center">
                        <button type="reset" class="btn btn-danger text-center">נקה</button>&nbsp;
                        <button type="submit" (click)="search(itemSearch.value)"
                            class="btn btn-info text-center">חפש</button>
                    </div>

                    <br /><br />
                    <p>
                        <mark>
                            <b>ניתן לבצע שינויים בכמויות בעמוד סל הקניות</b>
                        </mark>
                    </p>
                    <button class="btn btn-primary" (click)="sortPrice()">סנן לפי מחיר</button> &nbsp;
                    <button class="btn btn-primary" (click)="sortAlphabet()">סנן לפי חברה</button>
                    
                    <table class="table" style="direction: rtl;">
                        <thead>
                            <tr>
                                <th>תמונה</th>
                                <th>שם</th>
                                <th>מחיר</th>
                                <th>תיאור</th>
                                <th>שם חברה</th>
                                <th>&nbsp;</th>
                            </tr>
                        </thead>
                        <tr *ngFor="let item of searchResult; let i=index">
                            <td>
                                <img src="{{item.imageLink}}" width="50" height="50" *ngIf="checkDisplay('{{item.title}}')" />
                            </td>
                            <td>
                                {{item.title}}
                            </td>
                            <td>
                                {{item.price}}
                            </td>
                            <td>
                                {{item.subTitle}}
                            </td>

                            <td>
                                {{item.company}}
                            </td>

                            <td>
                                <button class="btn btn-primary" data-toggle="modal" (click)="addItem(i)" data-target="#myModal">הוסף לעגלה</button>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
    </div>
</div>

