<head>
</head>

<div class="row">
    <div class="col-md-7 col-center-block">
        <div class="panel panel-info">
            <div class="panel-heading text-center">
                <h3>אודות</h3>
            </div>
            <div class="panel-body">
                <p>
                    לורם איפסום דולור סיט אמט, קונסקטורר אדיפיסינג אלית גולר מונפרר סוברט לורם שבצק יהול, לכנוץ בעריר גק
                    ליץ, לורם איפסום דולור סיט אמט, קונסקטורר אדיפיסינג אלית. סת אלמנקום ניסי נון ניבאה. דס איאקוליס
                    וולופטה דיאם. וסטיבולום אט דולור, קראס אגת לקטוס וואל אאוגו וסטיבולום סוליסי טידום בעליק. ליבם
                    סולגק. בראיט ולחת צורק מונחף, בגורמי מגמש. תרבנך וסתעד לכנו סתשם השמה - לתכי מורגם בורק? לתיג ישבעס.
                </p>
                <p>
                    נולום ארווס סאפיאן - פוסיליס קוויס, אקווזמן קוואזי במר מודוף. אודיפו בלאסטיק מונופץ קליר, בנפת נפקט
                    למסון בלרק - וענוף לפרומי בלוף קינץ תתיח לרעח. לת צשחמי הועניב היושבב שערש שמחויט - שלושע ותלברו
                    חשלו
                    שעותלשך וחאית נובש ערששף. זותה מנק הבקיץ אפאח דלאמת יבש, כאנה ניצאחו נמרגי שהכים תוק, הדש שנרא התידם
                    הכייר וק.לורם איפסום דולור סיט אמט, קונסקטורר אדיפיסינג אלית גולר מונפרר סוברט לורם שבצק יהול, לכנוץ
                    בעריר גק ליץ, לורם איפסום דולור סיט אמט, קונסקטורר אדיפיסינג אלית. סת אלמנקום ניסי נון ניבאה. דס
                    איאקוליס וולופטה דיאם. וסטיבולום אט דולור, קראס אגת לקטוס וואל אאוגו וסטיבולום סוליסי טידום בעליק.
                    ליבם
                    סולגק. בראיט ולחת צורק מונחף, בגורמי מגמש. תרבנך וסתעד לכנו סתשם השמה - לתכי מורגם בורק? לתיג ישבעס.
                </p>
                <p>
                    נולום ארווס סאפיאן - פוסיליס קוויס, אקווזמן קוואזי במר מודוף. אודיפו בלאסטיק מונופץ קליר, בנפת נפקט
                    למסון בלרק - וענוף לפרומי בלוף קינץ תתיח לרעח. לת צשחמי הועניב היושבב שערש שמחויט - שלושע ותלברו
                    חשלו
                    שעותלשך וחאית נובש ערששף. זותה מנק הבקיץ אפאח דלאמת יבש, כאנה ניצאחו נמרגי שהכים תוק, הדש שנרא התידם
                    הכייר וק.
                </p>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-7 col-center-block">
        <div class="panel panel-info">
            <div class="panel-heading text-center">
                <h3>אנשים כותבים</h3>
            </div>
            <div class="panel-body">

                    <blockquote class="text-right bl">
                        <p class="fs-20">
                            נולום ארווס סאפיאן - פוסיליס קוויס, אקווזמן קוואזי במר מודוף. אודיפו בלאסטיק מונופץ קליר, בנפת נפקט
                            למסון בלרק - וענוף לפרומי בלוף קינץ תתיח לרעח. לת צשחמי הועניב היושבב שערש שמחויט - שלושע ותלברו
                            חשלו
                            שעותלשך וחאית נובש ערששף. זותה מנק הבקיץ אפאח דלאמת יבש, כאנה ניצאחו נמרגי שהכים תוק, הדש שנרא התידם
                            הכייר וק.
                        </p>
                        <footer>ישראל ישראלי</footer>
                    </blockquote>

                
                    <blockquote class="text-right bl">
                        <p class="fs-20">
                            נולום ארווס סאפיאן - פוסיליס קוויס, אקווזמן קוואזי במר מודוף. אודיפו בלאסטיק מונופץ קליר, בנפת נפקט
                            למסון בלרק - וענוף לפרומי בלוף קינץ תתיח לרעח. לת צשחמי הועניב היושבב שערש שמחויט - שלושע ותלברו
                            חשלו
                            שעותלשך וחאית נובש ערששף. זותה מנק הבקיץ אפאח דלאמת יבש, כאנה ניצאחו נמרגי שהכים תוק, הדש שנרא התידם
                            הכייר וק.
                        </p>
                        <footer>ישראל ישראלי</footer>
                    </blockquote>
                
                
                    <blockquote class="text-right bl">
                        <p class="fs-20">
                            נולום ארווס סאפיאן - פוסיליס קוויס, אקווזמן קוואזי במר מודוף. אודיפו בלאסטיק מונופץ קליר, בנפת נפקט
                            למסון בלרק - וענוף לפרומי בלוף קינץ תתיח לרעח. לת צשחמי הועניב היושבב שערש שמחויט - שלושע ותלברו
                            חשלו
                            שעותלשך וחאית נובש ערששף. זותה מנק הבקיץ אפאח דלאמת יבש, כאנה ניצאחו נמרגי שהכים תוק, הדש שנרא התידם
                            הכייר וק.
                        </p>
                        <footer>ישראל ישראלי</footer>
                    </blockquote>
                
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-7 col-center-block">
        <div class="panel panel-info">
            <div class="panel-heading text-center">
                <h3>אני רוצה לחפש</h3>
            </div>
            <div class="panel-body">
                <form>
                    <div class="form-group">
                        <input type="text" class="form-control" id="email">
                    </div>

                    <div class="text-center">
                        <button type="reset" class="btn btn-danger text-center">נקה</button>&nbsp;
                        <button type="submit" class="btn btn-info text-center">חפש</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
